.carousel-item {
  --items: 7;
  --width: clamp(150px, 20vw, 300px);
  --height: clamp(200px, 40vw, 400px);
  --x: calc(var(--active) * 400%);
  --y: calc(var(--active) * 100%);
  --rot: calc(var(--active) * 120deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
  --rot: calc(var(--active) * 120deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
}