.carousel-item {
  --items: 7;
  --width: clamp(300px, 60vw, 600px);
  --height: clamp(200px, 40vw, 400px);
  --x: calc(var(--active) * 550%);
  --y: calc(var(--active) * 100%);
  --rot: calc(var(--active) * var(--items) * 10deg);
}